*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
@font-face {
  font-family: 'font';
  src: url('https://cdn.statically.io/gh/masihterjaga/fonts/4cd2cc0f/font.woff2') format('woff2'), url('https://cdn.statically.io/gh/masihterjaga/fonts/4cd2cc0f/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap
}
html {
  font-family: font, sans-serif;
  color: rgb(18, 20, 23);
  line-height: 1.53;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.03em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

